@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Link de testare <a href="mailto:angelica.ignuta@just.ro?subject=reparații şi curățenie
                         &body= Bună ziua, %0D%0A În data de _______________ am constat că, în biroul _________ , există următoarele probleme referitor la reparaţii şi curăţenie: %0D%0A - %0D%0A %0D%0A Vă rog să luaţi măsuri pentru remedierea acestor pobleme.%0D%0A Vă mulţumesc.
                               
                         &CC=ionut.sipetan@just.ro
                         &BCC=stefan.caravelea@just.ro
                         ">SESIZARE</a></p>
</div>
